
#contact {
    background-image: url(../images/map.png);
    background-color: white;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 40px;
}
