/* this will be fun, hey? */

/* The portfolio boxes are all clickable links.
       Without wanting to gin up some javascript and
       add onclick event listeners, I made them
       anchor tags instead. Since they're anchor tags,
       they can't contain any block elements directly,
       so I used spans. Turn everything back into blocks
       with CSS is easy.
*/
a.portfolio-box {
    display: block;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    color: $light-accent;
    height: $box-height;
    text-decoration: none;

    .flapper-wrapper {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px;
        height: $box-height;
        /* min-height: 100%; */
        /* min-width: 100%; */
        background-color: transparentize($dark-brand, 0.4);
    }
}

.no-touchevents {
    a.portfolio-box {
        .flapper-wrapper {
            visibility: hidden;
            background-color: transparent;
            transition: background-color 500ms;
        }
        &:hover {
            color: $light-accent;
            text-decoration: none;

            .flapper-wrapper {
                background-color: transparentize($dark-brand, 0.25);
                visibility: visible;
            }
        }
    }
}

@each $bg in swaac, art, resume, blog, recipes, wiki {
    .#{$bg}-bg {
        background-image: url(../images/#{$bg}.jpg);
        background-color: #c0c0c0;
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
