@mixin bg-image($image) {
    background-image: url($image);
    background-color: #c0c0c0;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@each $bg in swaac, art, resume, blog, recipes, wiki, about {
    .#{$bg}-bg {
        @include bg-image("../images/#{$bg}.jpg");
    }
}

.map-bg {
    @include bg-image("../images/map.png");
}
