/* rollunder fix */

$rollunder-offset: ($navbar-height+25);
section[id]:before {
    display: block;
    content: ' ';
    margin-top: -($rollunder-offset);
    height: ($rollunder-offset);
    visibility: hidden;
}
