<section id="about" class="flex-item feature">
  <div class="wrapper">
    <h1 class="text-center">Tamouse.Org</h1>
    <h2 class="text-center">
      Welcome to Tamara Temple's Home on the Web!
    </h2>
    <p class="text-center lead">
      I am a geeky person, mom to 2 grown daughters, a
      <a href="#webology"><strong>webologist</strong></a>,
      <a href="https://swaac.tamouse.org">software craftperson</a>,
      <a href="https://art.pontiki.io">watercolourist, sketcher, musician, photographer</a>,
      and
      <a href="#hireme">teacher</a>.
    </p>
  </div>
</section>
