<section id="about" class="flex-item jumbotron woman">
  <h1 class="text-center">Tamouse.Org</h1>
  <p class="text-center">
    Welcome to Tamara Temple's Home on the Web!
  </p>
  <p class="text-center">
    I am a geek person, mom to 2 grown daughters,
    a <a href="#webology">
      <strong>webologist</strong>
    </a>,
    software craftperson,
    watercolourist, sketcher, musician, photographer,
    and teacher.
  </p>
</section>
