<section id="about" class="flex-item jumbotron">
  <h1 class="text-center">Tamouse.Org</h1>
  <p class="text-center">
    Welcome to Tamara Temple's Home on the Web!
  </p>
  <p class="text-center">
    I am a geek person, mom to 2 grown daughters, a
    <a href="#webology"><strong>webologist</strong></a>,
    <a href="https://swaac.tamouse.org">software craftperson</a>,
    <a href="https://art.pontiki.io">watercolourist, sketcher, musician, photographer</a>,
    and
    <a href="#hireme">teacher</a>.
  </p>
</section>
