<footer class="flex-item footer">
  <div class="wrapper">
    <div class="text-center text-muted">
      Copyright &copy; 2017 Tamara Temple Web
      Development
    </div>
    <div class="text-center text-muted">
      View source on
      <a href="">Github</a>
    </div>
  </div>
</footer>
