<footer class="flex-item footer">
  <p class="text-center">
    Copyright &copy; 2017 Tamara Temple Web
    Development
  </p>
  <p class="text-center">
    View source on
    <a href="">Github</a>
  </p>
</footer>
