<section id="hireme" class="flex-item">
  <div class="wrapper">
    <div class="text-center skosh">
      <a class="btn btn-danger btn-xl"
         href="#"
         target="_blank" rel="noopener noreferrer"
         >Hire Me!</a>
    </div>
    <div class="wrapper">
      <p class="text-left lead">
        I am available for the following roles:
      </p>
      <ul>
        <li>Personal tutoring and coaching in learning software development.</li>
        <li>Consulting in software development processes, team building,
          software architecture, and diversity.</li>
      </ul>
    </div>
  </div>
</section>
