<section id="portfolio" class="flex-item jumbotron">
  <h3>Various work of mine.</h3>
  <div class="box-container">
    <div class="box">
      <h3>Software as a Craft</h3>
    </div>
    <div class="box">
      <h3>Art.Pontiki.Io</h3>
    </div>
    <div class="box">
      <h3>Professional Resume</h3>
    </div>
    <div class="box">
      <h3>Web Blog</h3>
    </div>
    <div class="box">
      <h3>Recipe Collection</h3>
    </div>
    <div class="box">
      <h3>Misc Info Wiki</h3>
    </div>
  </div>
</section>
