<section id="webology" class="flex-item jumbotron">
  <h2 class="text-center">
    "What is a <em>Webologist</em>??"
    <br />
    I hear you ask...
  </h2>

  <p class="text-center">
    A <strong>Webologist</strong> is a term I invented for myself as
    someone who studies the
    <em>culture</em>,
    <em>people</em>,
    <em>technology</em>,
    and
    <em>impacts</em>
    of the World-Wide Web and the Internet.
  </p>

  <p>
    I am a practitioner of software development, including building
    web applications using Ruby, JavaScript, PHP, and many other
    languages, libraries, and frameworks.
  </p>

  <p>
    I am also a disciple of software as a craft (aka SWaaC), learning
    and teaching skills in crafting software systems that work for the
    people intended. I teach, coach, mentor, and encourage others to
    discover this fun and exciting field.
  </p>
</section>
